body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-size: cover ;
  background-position: bottom;
  /*background-repeat: no-repeat;*/
  background-image: url(http://www.free-desktop-backgrounds.net/free-desktop-wallpapers-backgrounds/free-hd-desktop-wallpapers-backgrounds/166051785.jpg);
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title{
  padding:5px 12px;
  float:left;
}



.addDancerButton, .addSwayButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*background-image: url("src/images/beyonce2.png");*/
  /*border:10px solid red;*/
  border-radius:10px;
  position:absolute;
  transition-duration : 1s;
  transition-property: transform;
}

.dancer:hover{
  -webkit-transform : rotate(360deg);
  /*background-image: url("src/images/beyonce2.png");*/
}